*{
    margin: 0;
    padding: 0;
}

.filters-section {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1vw;
    gap: 2vw;
}

.colors-block, .types-block, .price-block {
    display: flex;
    flex-direction: column;
    border: 0.2vw solid black;
    border-radius: 10px;
    
}

.color-header, .types-header{
    display: flex;
    align-items: center;
}

.color-header p, .types-header p{
    text-align: left;
    padding: 1vw;
    font-weight: 600;
    background-color: #121212;
    border-radius: 8px 8px 0 0;
    color: white;
    width: 100%;
}

.colors-filters, .types-filters{
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    padding: 1vw;
}

.filter-div-color, .filter-div-type{
    display: flex;
    align-items: center;
    gap: 0.8vw;
}


:root[data-theme="dark"] {
    --background-color: #121212;

    .color-header p, .types-header p, .price-block p{
        transition: .3s;
        background-color: white;
        color: #121212;
    }

    .colors-block, .types-block, .price-block {
        transition: 0.3s;
        border: 0.2vw solid white;
    }

    .filter-div-color, .filter-div-type{
        transition: 0.3s;
        color: white;
    }
  }